<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Preskool - Students</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="/public/assets/admin/img/favicon.png">
	
		<!-- Fontfamily -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/assets/admin/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/public/assets/admin/plugins/feather/feather.css">
		
		<!-- Pe7 CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/icons/flags/flags.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/all.min.css">

		<!-- Datatables CSS -->
		<link rel="stylesheet" href="/public/assets/admin/plugins/datatables/datatables.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/public/assets/admin/css/style.css">
    </head>
    <body>
		
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <%- include('header.ejs') %>
			<!-- /Header -->
			
			<!-- Sidebar -->
              <%- include('sidebar.ejs') %>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-sub-header">
									<h3 class="page-title">User</h3>
									<ul class="breadcrumb">
										<li class="breadcrumb-item"><a href="user.ejs">User</a></li>
										<li class="breadcrumb-item active">All Users</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="student-group-form">
						<div class="row">
							<div class="col-lg-3 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by ID ...">
								</div>
							</div>
							<div class="col-lg-3 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Name ...">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Phone ...">
								</div>
							</div>
							<div class="col-lg-2">  
								<div class="search-student-btn">
									<button type="btn" class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12">
						
							<div class="card card-table comman-shadow">
								<div class="card-body">
								
									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
												<h3 class="page-title">Students</h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
												<a href="/user" class="btn btn-outline-gray me-2 active"><i class="feather-list"></i></a>
												<a href="/user-grid" class="btn btn-outline-gray me-2"><i class="feather-grid"></i></a>
												<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
												<a href="/add-user" class="btn btn-primary"><i class="fas fa-plus"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->
									
									<div class="table-responsive">
										<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
											<thead class="student-thread">
												<tr>
													
													<th>S.No</th>
													<th>Name</th>
													<th>Phone</th>
                                                    <th>Email</th>								
													<th class="text-end">Edit/delete/Generate card</th>
                                                    
												</tr>
											</thead>
											<tbody>
												<% users1.forEach((user,index) => { %>
													<tr> 
	
													  <td><%= index + 1 %></td>
													  <td><%= user.username %></td>
													  <td><%= user.number %></td>
                                                        <td><%= user.email %></td>

													  <td class="text-end">
														<div class="actions">
														  <a href="/delete-user/<%= user._id %>" class="btn btn-sm bg-danger-light me-2">
															<i class="feather-trash-2"></i> 
														  </a>
														  <a href="/edit-user/<%= user._id %>" class="btn btn-sm bg-danger-light">
															<i class="feather-edit"></i>
														  </a>
                                                         <a href="/profsample-1"> <button class="btn btn-sm btn-primary" onclick="generateCard('<%= user.cardName %>')">
                                                        Generate    
                                                        </button></a>
														</div>
													  </td>

                                                      
													</tr>
												  <% }); %>
											</tbody>
										</table>
									</div>
								</div>
							</div>							
						</div>					
					</div>					
				</div>

				<!-- Footer -->
				<!-- <footer>
					<p>Copyright © 2022 Dreamguys.</p>					
				</footer> -->
				<!-- /Footer -->				
			</div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/public/assets/admin/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/public/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Feather Icon JS -->
		<script src="/public/assets/admin/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/public/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datatables JS -->
		<script src="/public/assets/admin/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/public/assets/admin/js/script.js"></script>
    </body>
</html>