<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCardify</title>
    <link rel="stylesheet" href="/public/assets/test/css/demo.css">
    <link rel="stylesheet" href="/public/assets/test/css/style.css">
</head>
<body>
    <% include('header.ejs') %>
    <div class="container">
        <div class="row my-4">
          <div class="col-1g-12">
            <% if (message) { %>
             <div class="alert alert-dismissible fade show alert-<%= message.type %> " role="alert">
             <button class="btn-close" type= "button" data-bs-dismiss="alert"
             aria-label="Close"></button>
            <strong><%= message.message %></strong>
             </div>
             <% } %>
            <div class="table-responsive">
              <table class="table table-striped text-center">
                <thead>
                  <tr class="table-dark">
                    <th>ID</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>subscription Status</th>
                    <th>card type</th>
                    <th>action</th>
                  </tr>
                </thead>
                <tbody>
                    <% users.forEach((row, index) =>{ %>
                    <tr class="align-middle">
                         <td><%= index %></td>
                         <td><%= row.ID %></td>
                         <td><%= row.name %></td>
                         <td><%= row.phone %></td>
                          <td>
                            <a href="/edit/<%= row._id %>" class="text-success"><i class="fas
                            fa-edit fa-lg mx-1"></i></a>
                            <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas
                            fa-trash fa-lg mx-1"></i></a>
                          </td>
                       </tr>
                     <% }) %>
                     </tbody>
                    </table>
                    </div>
                     <% } else { %>
                     <h1 class= "text-center text-secondary mt-5">No users found in the database!</h1>
                     <% } %>
                     </div>
                    </div> 
                </div>
</body>
</html>
=======

    <%- include('header.ejs') %>
>>>>>>> 861162e0a03f8e2d5d7d14adebaca69a2909bab5
