<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>eCardify - <%= company.name %></title>
		<%- include('header.ejs') %>
    </head>
    <body>
	
		<div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="">
                    <a href="#" class="logo">
						<img src="<%= company.logo %>" alt="image" class="img-fluid rounded" width="60"/>
					</a>
					
                </div>
				<!-- /Logo -->
				
			
				<!-- Mobile Menu Toggle -->
				
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			
			
			<!-- Page Wrapper -->
			<style>
				.portfolio-wraper{
					margin-left: 60px;
					padding-top: 100px;
					margin-right: 60px;
					position: relative;
					transition: all 0.4s ease;
				}
				</style>
      <div class="portfolio-wraper">
      <div class="content container-fluid">

					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="student-profile-head">
										<style>
											.names-profiles h4, .names-profiles i {
												display: inline-block;
											}
										</style>
										
										<div class="row">
											<div class="col-lg-6 col-md-4">
												<div class="profile-user-box">
													<div class="profile-user-img">
														<img src="<%= employee.photo %>" alt="Profile">
													</div>
													<div class="names-profiles">
														<h4><%= employee.name %> <i class="fa fa-check-circle green-icon"></i></h4>
														<h5><%= employee.designation %></h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
							</div>
							<div class="row">
								<div class="col-lg-14">
									<div class="student-personals-grp">
										<div class="card">
											<div class="card-body">
												<div class="heading-detail">
													<h4>Employee Details :</h4>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<span class="iconify" data-icon="tabler:building" style="color: #ff914d;" data-width="16" data-height="16"></span>
													</div>
													<div class="views-personal">
														<h4>Branch ID</h4>
														<h5><%= employee.branchid %></h5>
													</div>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-user"></i>
													</div>
													<div class="views-personal">
														<h4>Employee ID</h4>
														<h5><%= employee.employeeid %></h5>
													</div>
												</div>
												<% if (employee.area !== 'NA') { %>
													<div class="personal-activity">
													  <div class="personal-icons">
														<i class="feather-map"></i>
													  </div>
													  <div class="views-personal">
														<h4>Agent Area</h4>
														<h5><%= employee.area %></h5>
													  </div>
													</div>
												  <% } %>
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-phone-call"></i>
													</div>
													<div class="views-personal">
														<h4>Contact Number</h4>
														<h5><%= employee.contact %></h5>
													</div>
												</div>
												<div class="personal-activity mb-0">
													<div class="personal-icons">
														<i class="feather-mail"></i>
													</div>
													<div class="views-personal">
														<h4>Email</h4>
														<h5><%= employee.email %></h5>
													</div>
												</div>
												<br>
												<div class="personal-activity mb-0">
													<div class="personal-icons">
														<i class="feather-map-pin"></i>
													</div>
													<div class="views-personal">
														<h4>Address</h4>
														<h5><%= employee.address %></h5>
													</div>
												</div>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>				
				</div>
				
				<!-- Footer -->
				
				<!-- /Footer -->
			</div>
			<!-- /Page Wrapper -->
			<footer >
				<p>Powered by eCardify</p>					
			</footer>
		
        </div>
		
     
		<%- include('footer.ejs') %>
    </body>
</html>